#firstDiv{
    width: 600px;
    height: 300px;
    background-color:rgb(139, 97, 0);
}
  
#secondDiv{
    width: 48%;
    min-width: 400px;
    max-width: 700px;
    height: 300px;
    background-color: rgb(61, 128, 86);
}

#secondChildDiv{
    width: 50%;
    min-width: 400px;
    height: 150px;
    background-color: rgb(255, 0, 21);
}

@media only screen and (min-width:1px) and (max-width:576px){
     body{
        background-color: orange;
     }
     h1{
        color:darkslategrey
     }
    

}

          


@media only screen and (min-width:576px) and (max-width:768px){
    body{
        background-color: yellow;
    }
    h1{
        color: red;

    }
}
@media only screen and (min-width:768px) and (max-width:992px){
    body{
        background-color: green;
    }
    h1{
        color: white;
        
    }
}
@media only screen and (min-width:992px) and (max-width:1200px){
    body{
        background-color: blue;
    }
    h1{
        color: white;
        
    }
}

@media only screen and (min-width:1200px) and (max-width:1400px){
    body{
        background-color: indigo;
    }
    h1{
        color: white;
        
    }
}

@media only screen and (min-width:1400px) {
    body{
        background-color: violet;
    }
    h1{
        color: white;
    }
}   